* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    width: 700px;
    background: #f1f1f1;
    padding: 10px;

}

.row1 {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;

}

.row1 .r1c1 {
    flex-grow: 1;
    background-color: rgb(201, 44, 44);
    margin: 10px;
}

.row1 .r1c2 {

    margin: 10px;
    background: #0b0b5f;
    flex-grow: 2;
}

.row2 {

    height: 25%;
    background: #d2ad0a;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.row3 {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;

}

.row3 .r3c1 {
    flex-grow: 1;
    background-color: rgb(72, 195, 20);
    margin: 10px;
}

.row3 .r3c2 {

    margin: 10px;
    background: #51145e;
    flex-grow: 1;
}

.row3 .r3c3 {

    margin: 10px;
    background: #951fc4;
    flex-grow: 1;
}

.row4 {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;

}

.row4 .r4c1 {
    flex-grow: 1;
    background-color: rgb(210, 106, 8);
    margin: 10px;
    padding: 10px;
}

.row4 .r4c2 {

    margin: 10px;
    background: #ced906;
    flex-grow: 1;
    padding: 10px;
}

.row5 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;

}

.row5 .r5c1 {
    flex-grow: 1;
    background-color: rgb(25, 91, 28);
    margin: 10px;

}

.row5 .r5c2 {

    margin: 10px;
    background: #2199bd;
    flex-grow: 1;

}

.row5 .r5c3 {
    flex-grow: 1;
    background-color: rgb(94, 33, 21);
    margin: 10px;

}

.row5 .r5c4 {

    margin: 10px;
    background: #121ab3;
    flex-grow: 1;

}

.row6 {
    height: 3%;
    background: #1b1a16;
    display: flex;
    justify-content: space-between;
    margin: 10px;

}