* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 500px;
    height: 400px;

    position: absolute;
    bottom: calc(100% - 400px/2);
    left: calc(50% - 500px/2);


}

.box1 {
    width: 250px;
    height: 200px;
    background: red;
    border-radius: 20px 20px 0px 20px;
    margin-right: 5px;


}

.box2 {
    width: 250px;
    height: 200px;
    background: green;
    border-radius: 20px 0px 20px 20px;
}

.box3 {
    width: 250px;
    height: 200px;
    background: blue;
    position: relative;
    bottom: 400px;
    left: calc(250px);
    border-radius: 20px 20px 20px 0px;
}

.box4 {
    width: 250px;
    height: 200px;
    background: orange;
    position: relative;
    bottom: 400px;
    left: calc(250px);
    border-radius: 0px 20px 20px 20px;

}

div {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.num,
.ta {
    position: relative;
    top: calc(180px - 200px/2);
    padding-bottom: 10px;

}

.item1 {
    color: white;
    background-color: grey;
    height: 40px;
    width: 180px;
    border-radius: 10px 10px 0 0px;
    position: relative;
    top: 360px;
    z-index: -1;
    left: 30px;
    padding-top: 5px;
}

.item2 {
    color: white;
    background-color: grey;
    height: 40px;
    width: 180px;
    border-radius: 10px 10px 0 0px;
    position: relative;
    left: 285px;
    top: 315px;
    padding-top: 5px;
    z-index: -1;
}

.item3 {
    color: white;
    background-color: grey;
    height: 150px;
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    position: relative;
    left: -34px;
    top: 525px;
    z-index: -1;
    padding-left: 5px;
}



.item4 {
    color: white;
    background-color: grey;
    height: 150px;
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    position: relative;
    left: -35px;
    top: 175px;
    z-index: -1;
    padding-left: 5px;

}